body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgrey;
    margin: 0;
}

.calculator {
    background-color:orangered;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: none;
    outline: none;
    text-align: right;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 255, 0);
}

button.zero {
    grid-column: span 2;
}